In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import LabelEncoder

In [2]:
dataset=pd.read_csv("mall_rental_data.csv")
dataset

,Shop_ID,Mall_Name,City,Floor,Shop_Size_sqft,Footfall_per_day,Nearby_Brands,Has_Food_Court,Monthly_Sales,Rent
0,S001,Lulu Mall,Delhi,2,352,6311,2,0,962727,67310
1,S002,Forum Mall,Chennai,4,2961,802,16,0,549722,45221
2,S003,VR Chennai,Mumbai,0,1402,1138,9,0,1783693,3704
3,S004,Forum Mall,Mumbai,4,1849,555,12,0,608924,68503
4,S005,Forum Mall,Bangalore,3,1400,9217,13,1,1834033,85666
...,...,...,...,...,...,...,...,...,...,...
195,S196,VR Chennai,Kochi,4,1430,845,3,1,1352549,44571
196,S197,VR Chennai,Kochi,4,2205,9054,10,0,1381673,65858
197,S198,Phoenix Marketcity,Chennai,4,774,2943,10,1,1475402,41831
198,S199,Forum Mall,Bangalore,4,2040,8283,9,0,1612833,49625
199,S200,Lulu Mall,Delhi,4,1426,1484,18,1,1952897,54938

In [3]:
dataset.shape

(200, 10)

In [4]:
dataset.isnull().sum()

Shop_ID             0
Mall_Name           0
City                0
Floor               0
Shop_Size_sqft      0
Footfall_per_day    0
Nearby_Brands       0
Has_Food_Court      0
Monthly_Sales       0
Rent                0
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Shop_ID           200 non-null    object
 1   Mall_Name         200 non-null    object
 2   City              200 non-null    object
 3   Floor             200 non-null    int64
 4   Shop_Size_sqft    200 non-null    int64
 5   Footfall_per_day  200 non-null    int64
 6   Nearby_Brands     200 non-null    int64
 7   Has_Food_Court    200 non-null    int64
 8   Monthly_Sales     200 non-null    int64
 9   Rent              200 non-null    int64
dtypes: int64(7), object(3)
memory usage: 15.8+ KB

In [6]:
for col in ["Mall_Name", "City"]:
    dataset[col] = LabelEncoder().fit_transform(dataset[col])

print(dataset.head())

  Shop_ID  Mall_Name  City  Floor  Shop_Size_sqft  Footfall_per_day  \
0    S001          2     2      2             352              6311
1    S002          1     1      4            2961               802
2    S003          4     4      0            1402              1138
3    S004          1     4      4            1849               555
4    S005          1     0      3            1400              9217

   Nearby_Brands  Has_Food_Court  Monthly_Sales   Rent
0              2               0         962727  67310
1             16               0         549722  45221
2              9               0        1783693   3704
3             12               0         608924  68503
4             13               1        1834033  85666

In [7]:
dataset.columns

Index(['Shop_ID', 'Mall_Name', 'City', 'Floor', 'Shop_Size_sqft',
       'Footfall_per_day', 'Nearby_Brands', 'Has_Food_Court', 'Monthly_Sales',
       'Rent'],
      dtype='object')

In [8]:
indep=dataset.drop("Rent", axis=1)
indep

,Shop_ID,Mall_Name,City,Floor,Shop_Size_sqft,Footfall_per_day,Nearby_Brands,Has_Food_Court,Monthly_Sales
0,S001,2,2,2,352,6311,2,0,962727
1,S002,1,1,4,2961,802,16,0,549722
2,S003,4,4,0,1402,1138,9,0,1783693
3,S004,1,4,4,1849,555,12,0,608924
4,S005,1,0,3,1400,9217,13,1,1834033
...,...,...,...,...,...,...,...,...,...
195,S196,4,3,4,1430,845,3,1,1352549
196,S197,4,3,4,2205,9054,10,0,1381673
197,S198,3,1,4,774,2943,10,1,1475402
198,S199,1,0,4,2040,8283,9,0,1612833
199,S200,2,2,4,1426,1484,18,1,1952897

In [9]:
dep=dataset["Rent"]
dep

0      67310
1      45221
2       3704
3      68503
4      85666
       ...
195    44571
196    65858
197    41831
198    49625
199    54938
Name: Rent, Length: 200, dtype: int64

In [10]:
dataset.to_csv("preprocessed_mall_data.csv", index=False)