In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
dataset=pd.read_csv("mall_rental_data.csv")
dataset

,Shop_ID,Mall_Name,City,Floor,Shop_Size_sqft,Footfall_per_day,Nearby_Brands,Has_Food_Court,Monthly_Sales,Rent
0,S001,Lulu Mall,Delhi,2,352,6311,2,0,962727,67310
1,S002,Forum Mall,Chennai,4,2961,802,16,0,549722,45221
2,S003,VR Chennai,Mumbai,0,1402,1138,9,0,1783693,3704
3,S004,Forum Mall,Mumbai,4,1849,555,12,0,608924,68503
4,S005,Forum Mall,Bangalore,3,1400,9217,13,1,1834033,85666
...,...,...,...,...,...,...,...,...,...,...
195,S196,VR Chennai,Kochi,4,1430,845,3,1,1352549,44571
196,S197,VR Chennai,Kochi,4,2205,9054,10,0,1381673,65858
197,S198,Phoenix Marketcity,Chennai,4,774,2943,10,1,1475402,41831
198,S199,Forum Mall,Bangalore,4,2040,8283,9,0,1612833,49625
199,S200,Lulu Mall,Delhi,4,1426,1484,18,1,1952897,54938

In [3]:
dataset.shape

(200, 10)

In [4]:
dataset.isnull().sum()

Shop_ID             0
Mall_Name           0
City                0
Floor               0
Shop_Size_sqft      0
Footfall_per_day    0
Nearby_Brands       0
Has_Food_Court      0
Monthly_Sales       0
Rent                0
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Shop_ID           200 non-null    object
 1   Mall_Name         200 non-null    object
 2   City              200 non-null    object
 3   Floor             200 non-null    int64
 4   Shop_Size_sqft    200 non-null    int64
 5   Footfall_per_day  200 non-null    int64
 6   Nearby_Brands     200 non-null    int64
 7   Has_Food_Court    200 non-null    int64
 8   Monthly_Sales     200 non-null    int64
 9   Rent              200 non-null    int64
dtypes: int64(7), object(3)
memory usage: 15.8+ KB

In [6]:
dataset=dataset.drop("Shop_ID",axis=1)
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

,Floor,Shop_Size_sqft,Footfall_per_day,Nearby_Brands,Has_Food_Court,Monthly_Sales,Rent,Mall_Name_Forum Mall,Mall_Name_Lulu Mall,Mall_Name_Phoenix Marketcity,Mall_Name_VR Chennai,City_Chennai,City_Delhi,City_Kochi,City_Mumbai
0,2,352,6311,2,0,962727,67310,0,1,0,0,0,1,0,0
1,4,2961,802,16,0,549722,45221,1,0,0,0,1,0,0,0
2,0,1402,1138,9,0,1783693,3704,0,0,0,1,0,0,0,1
3,4,1849,555,12,0,608924,68503,1,0,0,0,0,0,0,1
4,3,1400,9217,13,1,1834033,85666,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,4,1430,845,3,1,1352549,44571,0,0,0,1,0,0,1,0
196,4,2205,9054,10,0,1381673,65858,0,0,0,1,0,0,1,0
197,4,774,2943,10,1,1475402,41831,0,0,1,0,1,0,0,0
198,4,2040,8283,9,0,1612833,49625,1,0,0,0,0,0,0,0
199,4,1426,1484,18,1,1952897,54938,0,1,0,0,0,1,0,0

In [7]:
dataset.columns

Index(['Floor', 'Shop_Size_sqft', 'Footfall_per_day', 'Nearby_Brands',
       'Has_Food_Court', 'Monthly_Sales', 'Rent', 'Mall_Name_Forum Mall',
       'Mall_Name_Lulu Mall', 'Mall_Name_Phoenix Marketcity',
       'Mall_Name_VR Chennai', 'City_Chennai', 'City_Delhi', 'City_Kochi',
       'City_Mumbai'],
      dtype='object')

In [8]:
indep=dataset.drop("Rent", axis=1)
indep

,Floor,Shop_Size_sqft,Footfall_per_day,Nearby_Brands,Has_Food_Court,Monthly_Sales,Mall_Name_Forum Mall,Mall_Name_Lulu Mall,Mall_Name_Phoenix Marketcity,Mall_Name_VR Chennai,City_Chennai,City_Delhi,City_Kochi,City_Mumbai
0,2,352,6311,2,0,962727,0,1,0,0,0,1,0,0
1,4,2961,802,16,0,549722,1,0,0,0,1,0,0,0
2,0,1402,1138,9,0,1783693,0,0,0,1,0,0,0,1
3,4,1849,555,12,0,608924,1,0,0,0,0,0,0,1
4,3,1400,9217,13,1,1834033,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,4,1430,845,3,1,1352549,0,0,0,1,0,0,1,0
196,4,2205,9054,10,0,1381673,0,0,0,1,0,0,1,0
197,4,774,2943,10,1,1475402,0,0,1,0,1,0,0,0
198,4,2040,8283,9,0,1612833,1,0,0,0,0,0,0,0
199,4,1426,1484,18,1,1952897,0,1,0,0,0,1,0,0

In [9]:
dep=dataset["Rent"]
dep

0      67310
1      45221
2       3704
3      68503
4      85666
       ...
195    44571
196    65858
197    41831
198    49625
199    54938
Name: Rent, Length: 200, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(indep,dep, test_size=0.30,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)