In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import time
import pickle
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.svm import LinearSVR, SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings("ignore")

In [2]:
dataset=pd.read_csv("clean_restaurant_data.csv")
dataset

,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,...,Weekday Reservations,Revenue,Location_Rural,Location_Suburban,Cuisine_French,Cuisine_Indian,Cuisine_Italian,Cuisine_Japanese,Cuisine_Mexican,Parking Availability_Yes
0,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,...,4,638945.52,1,0,0,0,0,1,0,1
1,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,...,6,490207.83,0,0,0,0,0,0,1,1
2,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,...,14,541368.62,1,0,0,0,1,0,0,0
3,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,...,17,404556.80,1,0,0,0,1,0,0,1
4,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,...,26,1491046.35,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,3.4,54,34.85,1102,11298,11,380,253.919515,9.5,5.0,...,0,434653.45,0,1,0,1,0,0,0,1
8364,3.7,49,36.88,1988,20432,9,713,175.590195,2.7,2.6,...,21,414977.92,1,0,0,1,0,0,0,0
8365,4.7,88,46.87,5949,63945,6,436,222.953647,4.8,1.7,...,21,930395.87,0,0,0,0,1,0,0,1
8366,3.1,31,44.53,707,7170,1,729,178.482851,6.1,2.1,...,21,311493.48,1,0,0,0,0,0,0,0
8367,4.0,33,71.07,2003,24268,8,197,151.838065,5.9,7.5,...,12,534142.98,1,0,0,0,0,1,0,1

In [3]:
dataset.shape

(8368, 21)

In [4]:
dataset.isnull().sum()

Rating                      0
Seating Capacity            0
Average Meal Price          0
Marketing Budget            0
Social Media Followers      0
Chef Experience Years       0
Number of Reviews           0
Avg Review Length           0
Ambience Score              0
Service Quality Score       0
Weekend Reservations        0
Weekday Reservations        0
Revenue                     0
Location_Rural              0
Location_Suburban           0
Cuisine_French              0
Cuisine_Indian              0
Cuisine_Italian             0
Cuisine_Japanese            0
Cuisine_Mexican             0
Parking Availability_Yes    0
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8368 entries, 0 to 8367
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rating                    8368 non-null   float64
 1   Seating Capacity          8368 non-null   int64
 2   Average Meal Price        8368 non-null   float64
 3   Marketing Budget          8368 non-null   int64
 4   Social Media Followers    8368 non-null   int64
 5   Chef Experience Years     8368 non-null   int64
 6   Number of Reviews         8368 non-null   int64
 7   Avg Review Length         8368 non-null   float64
 8   Ambience Score            8368 non-null   float64
 9   Service Quality Score     8368 non-null   float64
 10  Weekend Reservations      8368 non-null   int64
 11  Weekday Reservations      8368 non-null   int64
 12  Revenue                   8368 non-null   float64
 13  Location_Rural            8368 non-null   int64
 14  Location_Suburban         8368 non-null   int64
 15  Cuisine_French            8368 non-null   int64
 16  Cuisine_Indian            8368 non-null   int64
 17  Cuisine_Italian           8368 non-null   int64
 18  Cuisine_Japanese          8368 non-null   int64
 19  Cuisine_Mexican           8368 non-null   int64
 20  Parking Availability_Yes  8368 non-null   int64
dtypes: float64(6), int64(15)
memory usage: 1.3 MB

In [6]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,...,Weekday Reservations,Revenue,Location_Rural,Location_Suburban,Cuisine_French,Cuisine_Indian,Cuisine_Italian,Cuisine_Japanese,Cuisine_Mexican,Parking Availability_Yes
0,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,...,4,638945.52,1,0,0,0,0,1,0,1
1,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,...,6,490207.83,0,0,0,0,0,0,1,1
2,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,...,14,541368.62,1,0,0,0,1,0,0,0
3,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,...,17,404556.80,1,0,0,0,1,0,0,1
4,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,...,26,1491046.35,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,3.4,54,34.85,1102,11298,11,380,253.919515,9.5,5.0,...,0,434653.45,0,1,0,1,0,0,0,1
8364,3.7,49,36.88,1988,20432,9,713,175.590195,2.7,2.6,...,21,414977.92,1,0,0,1,0,0,0,0
8365,4.7,88,46.87,5949,63945,6,436,222.953647,4.8,1.7,...,21,930395.87,0,0,0,0,1,0,0,1
8366,3.1,31,44.53,707,7170,1,729,178.482851,6.1,2.1,...,21,311493.48,1,0,0,0,0,0,0,0
8367,4.0,33,71.07,2003,24268,8,197,151.838065,5.9,7.5,...,12,534142.98,1,0,0,0,0,1,0,1

In [7]:
dataset.columns

Index(['Rating', 'Seating Capacity', 'Average Meal Price', 'Marketing Budget',
       'Social Media Followers', 'Chef Experience Years', 'Number of Reviews',
       'Avg Review Length', 'Ambience Score', 'Service Quality Score',
       'Weekend Reservations', 'Weekday Reservations', 'Revenue',
       'Location_Rural', 'Location_Suburban', 'Cuisine_French',
       'Cuisine_Indian', 'Cuisine_Italian', 'Cuisine_Japanese',
       'Cuisine_Mexican', 'Parking Availability_Yes'],
      dtype='object')

In [8]:
indep_X=dataset.drop("Revenue", axis=1)
indep_X

,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,Weekend Reservations,Weekday Reservations,Location_Rural,Location_Suburban,Cuisine_French,Cuisine_Indian,Cuisine_Italian,Cuisine_Japanese,Cuisine_Mexican,Parking Availability_Yes
0,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,13,4,1,0,0,0,0,1,0,1
1,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,48,6,0,0,0,0,0,0,1,1
2,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,27,14,1,0,0,0,1,0,0,0
3,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,9,17,1,0,0,0,1,0,0,1
4,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,37,26,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,3.4,54,34.85,1102,11298,11,380,253.919515,9.5,5.0,37,0,0,1,0,1,0,0,0,1
8364,3.7,49,36.88,1988,20432,9,713,175.590195,2.7,2.6,37,21,1,0,0,1,0,0,0,0
8365,4.7,88,46.87,5949,63945,6,436,222.953647,4.8,1.7,83,21,0,0,0,0,1,0,0,1
8366,3.1,31,44.53,707,7170,1,729,178.482851,6.1,2.1,6,21,1,0,0,0,0,0,0,0
8367,4.0,33,71.07,2003,24268,8,197,151.838065,5.9,7.5,5,12,1,0,0,0,0,1,0,1

In [9]:
dep_Y=dataset["Revenue"]
dep_Y

0        638945.52
1        490207.83
2        541368.62
3        404556.80
4       1491046.35
           ...
8363     434653.45
8364     414977.92
8365     930395.87
8366     311493.48
8367     534142.98
Name: Revenue, Length: 8368, dtype: float64

## Model Creation

In [10]:
def split_scalar(indep_X,dep_Y):
        X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size = 0.25, random_state = 0)

        sc = StandardScaler()
        X_train = sc.fit_transform(X_train)
        X_test = sc.transform(X_test)    
        return X_train, X_test, y_train, y_test
    
def r2_prediction(regressor,X_test,y_test):
     y_pred = regressor.predict(X_test)
     from sklearn.metrics import r2_score
     r2=r2_score(y_test,y_pred)
     return r2
 
def Linear(X_train,y_train,X_test):       
      
        from sklearn.linear_model import LinearRegression
        regressor = LinearRegression()
        regressor.fit(X_train, y_train)
        r2=r2_prediction(regressor,X_test,y_test)
        return  r2   
    
def svm_linear(X_train,y_train,X_test):
                
        from sklearn.svm import SVR
        regressor = SVR(kernel = 'linear')
        regressor.fit(X_train, y_train)
        r2=r2_prediction(regressor,X_test,y_test)
        return  r2  
    
def svm_NL(X_train,y_train,X_test):
                
        from sklearn.svm import SVR
        regressor = SVR(kernel = 'rbf')
        regressor.fit(X_train, y_train)
        r2=r2_prediction(regressor,X_test,y_test)
        return  r2  
     

def Decision(X_train,y_train,X_test):
        
        
        from sklearn.tree import DecisionTreeRegressor
        regressor = DecisionTreeRegressor(random_state = 0)
        regressor.fit(X_train, y_train)
        r2=r2_prediction(regressor,X_test,y_test)
        return  r2  
     

def random(X_train,y_train,X_test):       
        
        from sklearn.ensemble import RandomForestRegressor
        regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
        regressor.fit(X_train, y_train)
        r2=r2_prediction(regressor,X_test,y_test)
        return  r2 
    
def rfeFeature(indep_X,dep_Y,n):
        rfelist=[]
        
        from sklearn.linear_model import LinearRegression
        lin = LinearRegression()
        
        from sklearn.svm import SVR
        SVRl = SVR(kernel = 'linear')
        
        from sklearn.svm import SVR
        SVRnl = SVR(kernel = 'rbf')
        
        from sklearn.tree import DecisionTreeRegressor
        dec = DecisionTreeRegressor(random_state = 0)
        
        from sklearn.ensemble import RandomForestRegressor
        rf = RandomForestRegressor(n_estimators = 10, random_state = 0)
        
        
        rfemodellist=[lin,SVRl,dec,rf] 
        for i in   rfemodellist:
            print(i)
            log_rfe = RFE(estimator=i, n_features_to_select=n)
            log_fit = log_rfe.fit(indep_X, dep_Y)
            log_rfe_feature=log_fit.transform(indep_X)
            rfelist.append(log_rfe_feature)
        return rfelist
    
def rfe_regression(acclog,accsvml,accdes,accrf): 
    
    rfedataframe=pd.DataFrame(index=['Linear','SVC','Random','DecisionTree'],columns=['Linear','SVMl',
                                                                                        'Decision','Random'])

    for number,idex in enumerate(rfedataframe.index):
        
        rfedataframe['Linear'][idex]=acclog[number]       
        rfedataframe['SVMl'][idex]=accsvml[number]
        rfedataframe['Decision'][idex]=accdes[number]
        rfedataframe['Random'][idex]=accrf[number]
    return rfedataframe

In [17]:
rfelist=rfeFeature(indep_X,dep_Y,8)       

acclin=[]
accsvml=[]
accsvmnl=[]
accdes=[]
accrf=[]

LinearRegression()
SVR(kernel='linear')
DecisionTreeRegressor(random_state=0)
RandomForestRegressor(n_estimators=10, random_state=0)

In [18]:
for i in rfelist:   
    X_train, X_test, y_train, y_test=split_scalar(i,dep_Y)  
    r2_lin=Linear(X_train,y_train,X_test)
    acclin.append(r2_lin)
    
    r2_sl=svm_linear(X_train,y_train,X_test)    
    accsvml.append(r2_sl)
    
    r2_NL=svm_NL(X_train,y_train,X_test)
    accsvmnl.append(r2_NL)
    
    r2_d=Decision(X_train,y_train,X_test)
    accdes.append(r2_d)
    
    r2_r=random(X_train,y_train,X_test)
    accrf.append(r2_r)
    
    
result=rfe_regression(acclin,accsvml,accdes,accrf)

In [13]:
result1 = result
result1
#3

                Linear      SVMl  Decision    Random
Linear        0.955591  0.002993  0.998038  0.998792
SVC            0.95597 -0.004442  0.997978  0.999124
Random         0.95597 -0.004442  0.997978  0.999124
DecisionTree  0.955538 -0.003512  0.998035  0.998795

In [16]:
result2 = result
result2
#6

                Linear      SVMl  Decision    Random
Linear        0.955615  0.013721  0.997503  0.998737
SVC           0.955978  0.013591  0.997931  0.999122
Random        0.956108  0.003207   0.99705  0.998917
DecisionTree  0.956178  0.001067  0.997565  0.999055

In [19]:
result3 = result
result3
#8

                Linear      SVMl  Decision    Random
Linear        0.955595  0.017518  0.997451  0.998731
SVC           0.956008  0.020159  0.997961  0.999111
Random        0.956105  0.003166  0.996436  0.998759
DecisionTree  0.956166  0.003269  0.996768  0.998867

In [20]:
# --- Store all results DataFrames here ---
results = [result1, result2, result3]   # add as many as we have

summary = []

for i, df in enumerate(results, start=5):   # since numbering starts at #5
    best_model = df.max().idxmax()          # best column name (model)
    best_score = df.max().max()             # best R² or accuracy
    summary.append({
        "Result_No": f"# {i}",
        "Best_Model": best_model,
        "Best_Score": best_score
    })

summary_df = pd.DataFrame(summary)
print(summary_df)

  Result_No Best_Model  Best_Score
0       # 5     Random    0.999124
1       # 6     Random    0.999122
2       # 7     Random    0.999111