In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import time
import pickle
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform
import warnings
warnings.filterwarnings("ignore")

In [2]:
dataset=pd.read_csv("clean_restaurant_data.csv")
dataset

,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,...,Weekday Reservations,Revenue,Location_Rural,Location_Suburban,Cuisine_French,Cuisine_Indian,Cuisine_Italian,Cuisine_Japanese,Cuisine_Mexican,Parking Availability_Yes
0,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,...,4,638945.52,1,0,0,0,0,1,0,1
1,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,...,6,490207.83,0,0,0,0,0,0,1,1
2,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,...,14,541368.62,1,0,0,0,1,0,0,0
3,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,...,17,404556.80,1,0,0,0,1,0,0,1
4,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,...,26,1491046.35,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,3.4,54,34.85,1102,11298,11,380,253.919515,9.5,5.0,...,0,434653.45,0,1,0,1,0,0,0,1
8364,3.7,49,36.88,1988,20432,9,713,175.590195,2.7,2.6,...,21,414977.92,1,0,0,1,0,0,0,0
8365,4.7,88,46.87,5949,63945,6,436,222.953647,4.8,1.7,...,21,930395.87,0,0,0,0,1,0,0,1
8366,3.1,31,44.53,707,7170,1,729,178.482851,6.1,2.1,...,21,311493.48,1,0,0,0,0,0,0,0
8367,4.0,33,71.07,2003,24268,8,197,151.838065,5.9,7.5,...,12,534142.98,1,0,0,0,0,1,0,1

In [3]:
dataset.shape

(8368, 21)

In [4]:
dataset.isnull().sum()

Rating                      0
Seating Capacity            0
Average Meal Price          0
Marketing Budget            0
Social Media Followers      0
Chef Experience Years       0
Number of Reviews           0
Avg Review Length           0
Ambience Score              0
Service Quality Score       0
Weekend Reservations        0
Weekday Reservations        0
Revenue                     0
Location_Rural              0
Location_Suburban           0
Cuisine_French              0
Cuisine_Indian              0
Cuisine_Italian             0
Cuisine_Japanese            0
Cuisine_Mexican             0
Parking Availability_Yes    0
dtype: int64

In [5]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,...,Weekday Reservations,Revenue,Location_Rural,Location_Suburban,Cuisine_French,Cuisine_Indian,Cuisine_Italian,Cuisine_Japanese,Cuisine_Mexican,Parking Availability_Yes
0,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,...,4,638945.52,1,0,0,0,0,1,0,1
1,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,...,6,490207.83,0,0,0,0,0,0,1,1
2,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,...,14,541368.62,1,0,0,0,1,0,0,0
3,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,...,17,404556.80,1,0,0,0,1,0,0,1
4,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,...,26,1491046.35,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,3.4,54,34.85,1102,11298,11,380,253.919515,9.5,5.0,...,0,434653.45,0,1,0,1,0,0,0,1
8364,3.7,49,36.88,1988,20432,9,713,175.590195,2.7,2.6,...,21,414977.92,1,0,0,1,0,0,0,0
8365,4.7,88,46.87,5949,63945,6,436,222.953647,4.8,1.7,...,21,930395.87,0,0,0,0,1,0,0,1
8366,3.1,31,44.53,707,7170,1,729,178.482851,6.1,2.1,...,21,311493.48,1,0,0,0,0,0,0,0
8367,4.0,33,71.07,2003,24268,8,197,151.838065,5.9,7.5,...,12,534142.98,1,0,0,0,0,1,0,1

In [6]:
dataset.columns

Index(['Rating', 'Seating Capacity', 'Average Meal Price', 'Marketing Budget',
       'Social Media Followers', 'Chef Experience Years', 'Number of Reviews',
       'Avg Review Length', 'Ambience Score', 'Service Quality Score',
       'Weekend Reservations', 'Weekday Reservations', 'Revenue',
       'Location_Rural', 'Location_Suburban', 'Cuisine_French',
       'Cuisine_Indian', 'Cuisine_Italian', 'Cuisine_Japanese',
       'Cuisine_Mexican', 'Parking Availability_Yes'],
      dtype='object')

In [7]:
indep_X=dataset.drop("Revenue", axis=1)
indep_X

,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,Weekend Reservations,Weekday Reservations,Location_Rural,Location_Suburban,Cuisine_French,Cuisine_Indian,Cuisine_Italian,Cuisine_Japanese,Cuisine_Mexican,Parking Availability_Yes
0,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,13,4,1,0,0,0,0,1,0,1
1,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,48,6,0,0,0,0,0,0,1,1
2,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,27,14,1,0,0,0,1,0,0,0
3,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,9,17,1,0,0,0,1,0,0,1
4,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,37,26,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,3.4,54,34.85,1102,11298,11,380,253.919515,9.5,5.0,37,0,0,1,0,1,0,0,0,1
8364,3.7,49,36.88,1988,20432,9,713,175.590195,2.7,2.6,37,21,1,0,0,1,0,0,0,0
8365,4.7,88,46.87,5949,63945,6,436,222.953647,4.8,1.7,83,21,0,0,0,0,1,0,0,1
8366,3.1,31,44.53,707,7170,1,729,178.482851,6.1,2.1,6,21,1,0,0,0,0,0,0,0
8367,4.0,33,71.07,2003,24268,8,197,151.838065,5.9,7.5,5,12,1,0,0,0,0,1,0,1

In [8]:
dep_Y=dataset["Revenue"]
dep_Y

0        638945.52
1        490207.83
2        541368.62
3        404556.80
4       1491046.35
           ...
8363     434653.45
8364     414977.92
8365     930395.87
8366     311493.48
8367     534142.98
Name: Revenue, Length: 8368, dtype: float64

## Model Creation

In [9]:
def split_scalar(indep_X,dep_Y):
      
    X_train,X_test,Y_train,Y_test=train_test_split(indep_X,dep_Y, test_size=0.30,random_state=0)
    sc=StandardScaler()
    X_train=sc.fit_transform(X_train)
    X_test=sc.transform(X_test)
    return X_train,X_test,Y_train,Y_test


def selectkbest(indep_X,dep_Y,n):
    selector = SelectKBest(score_func=f_regression, k=n)
    X_new = selector.fit_transform(indep_X, dep_Y)
    return X_new

def r2_prediction(regressor,X_test,Y_test):
     y_pred = regressor.predict(X_test)
     from sklearn.metrics import r2_score
     r2=r2_score(Y_test,y_pred)
     return r2
 
def Linear(X_train,Y_train,X_test):       
        
        from sklearn.linear_model import Ridge
        param_dist = {'alpha': uniform(0, 10)}
        search = RandomizedSearchCV(
            Ridge(),
            param_distributions=param_dist,
            n_iter=10,
            scoring='r2',
            cv=3,
            random_state=42
        )
        search.fit(X_train, Y_train)
        best_model = search.best_estimator_
        r2 = r2_prediction(best_model, X_test, Y_test)
        return r2  
    
def svm_linear(X_train,Y_train,X_test):
                
        from sklearn.svm import SVR
        param_dist = {'C': np.logspace(-2, 2, 5),'epsilon': [0.01, 0.1, 0.2],'kernel': ['linear']}
        search = RandomizedSearchCV(SVR(), param_distributions=param_dist, n_iter=10, cv=3,
                                scoring='r2', random_state=42, n_jobs=-1)
        search.fit(X_train, Y_train)
        best_model = search.best_estimator_
        r2=r2_prediction(best_model, X_test, Y_test)
        return  r2  
    
def svm_NL(X_train,Y_train,X_test):
                
        from sklearn.svm import SVR
        param_dist = {'C': np.logspace(-2, 2, 5),'gamma': ['scale', 0.01, 0.1, 1],'epsilon': [0.01, 0.1, 0.2],'kernel': ['rbf']}
        search = RandomizedSearchCV(SVR(), param_distributions=param_dist, n_iter=10, cv=3,
                                scoring='r2', random_state=42, n_jobs=-1)
        search.fit(X_train, Y_train)
        best_model = search.best_estimator_
        r2=r2_prediction(best_model,X_test,Y_test)
        return  r2       

def Decision(X_train,Y_train,X_test):
                
        from sklearn.tree import DecisionTreeRegressor
        param_dist = {'max_depth': [None, 5, 10, 20],'min_samples_split': [2, 5, 10],'min_samples_leaf': [1, 2, 4],
                      'criterion': ['squared_error', 'friedman_mse']}
        search = RandomizedSearchCV(DecisionTreeRegressor(random_state=42),param_distributions=param_dist, n_iter=10, cv=3,
                                    scoring='r2', random_state=42, n_jobs=-1)
        search.fit(X_train, Y_train)
        best_model = search.best_estimator_
        r2=r2_prediction(best_model,X_test,Y_test)
        return  r2       

def random(X_train,Y_train,X_test):       
        
        from sklearn.ensemble import RandomForestRegressor
        param_dist = {'n_estimators': [50, 100, 200],'max_depth': [None, 10, 20],'min_samples_split': [2, 5],'min_samples_leaf': [1, 2],
                       'bootstrap': [True, False]}   
        search = RandomizedSearchCV(RandomForestRegressor(random_state=42),param_distributions=param_dist, n_iter=10, cv=3,
                                    scoring='r2', random_state=42, n_jobs=-1)
        search.fit(X_train, Y_train)
        best_model = search.best_estimator_
        r2=r2_prediction(best_model,X_test,Y_test)
        return  r2 
        
def selectk_regression(acclin,accsvml,accsvmnl,accdes,accrf): 
    
    dataframe=pd.DataFrame(index=['ChiSquare'],columns=['Linear','SVMl','SVMnl','Decision','Random'])

    for number,idex in enumerate(dataframe.index):
        
        dataframe['Linear'][idex]=acclin[number]       
        dataframe['SVMl'][idex]=accsvml[number]
        dataframe['SVMnl'][idex]=accsvmnl[number]
        dataframe['Decision'][idex]=accdes[number]
        dataframe['Random'][idex]=accrf[number]
    return dataframe

In [16]:
kbest=selectkbest(indep_X,dep_Y,10)      
X_train, X_test, Y_train, Y_test=split_scalar(kbest,dep_Y)  

acclin=[]
accsvml=[]
accsvmnl=[]
accdes=[]
accrf=[]

In [17]:
r2_lin=Linear(X_train,Y_train,X_test)
acclin.append(r2_lin)
    
r2_sl=svm_linear(X_train,Y_train,X_test)    
accsvml.append(r2_sl)
    
r2_NL=svm_NL(X_train,Y_train,X_test)
accsvmnl.append(r2_NL)
    
r2_d=Decision(X_train,Y_train,X_test)
accdes.append(r2_d)
    
r2_r=random(X_train,Y_train,X_test)
accrf.append(r2_r)

In [12]:
result1 = result
result1
#6

             Linear      SVMl     SVMnl Decision   Random
ChiSquare  0.955175  0.923121  0.287297  0.99759  0.99903

In [15]:
result2 = result
result2
#8

             Linear      SVMl     SVMnl  Decision    Random
ChiSquare  0.955114  0.922837  0.231096  0.997173  0.998981

In [18]:
result3 = result
result3
#10

             Linear      SVMl     SVMnl  Decision    Random
ChiSquare  0.955105  0.925861  0.191029  0.996988  0.998959

In [19]:
results = [result1, result2, result3]   # add as many as we have

summary = []

for i, df in enumerate(results, start=5):   # since numbering starts at #5
    best_model = df.max().idxmax()          # best column name (model)
    best_score = df.max().max()             # best R² or accuracy
    summary.append({
        "Result_No": f"# {i}",
        "Best_Model": best_model,
        "Best_Score": best_score
    })

summary_df = pd.DataFrame(summary)
print(summary_df)

  Result_No Best_Model  Best_Score
0       # 5     Random    0.999030
1       # 6     Random    0.998981
2       # 7     Random    0.998959

In [20]:
dataset.to_csv("Feature_restaurant_data.csv", index=False)